/*  */

.input-container{
  display: flex;
  gap: 10px;
}

.date-container{
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 10px;
}

.date-container h3{
  display: flex;
  margin: 0;
  gap: 10px;
}

.date-container h3 p{
  margin: 0;
  color: #666;
}

.date-container h3 .timeFull{
  color: black;
}


/*  */
.activities-container{
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.activitie{
  border: 2px solid gray;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-radius: 14px;
  background-color: #ddd;
  align-items: center;
}

.activitie--null{
  background-color: #ddd;
  border-color: gray;
}

.activitie--done{
  background-color: #80c39a;
  border-color: green;
}

.activitie--pending{
  background-color: #f19a95;
  border-color: crimson;
}

.activitie__info{
  text-align: left;
}

.activitie p{
  margin: 0;
}

/*  */

.activitie__buttons{
  display: flex;
  -webkit-tap-highlight-color: transparent;
}

.activitie__button{
  background-color: blue;
  margin: 0;
  margin-right: 10px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activitie__button i{
  pointer-events: none;
  font-size: large;
  margin: auto;
}

.activitie__button--null{
  background-color: gray;
}

.activitie__button--done , .activitie__button--edit{
  background-color: green;
}

.activitie__button--pending{
  background-color: crimson;
}

