@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ESTILOS GENERALES ========================================= */

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  display: flex;
  min-height: 100dvh;
  flex-direction: column;
  font-family: "Lexend Deca", sans-serif;
}

button{
  cursor: pointer;
  color: white;
  background-color: black;
  font-family: inherit;
  border: none;
  padding: 5px;
  border-radius: 8px;
  width: fit-content;
  margin: 10px;
}

.container{
  width: 90%;
  margin: auto;
}

a{
  text-decoration: none;
}

/* NAV ========================================= */

nav{
  text-align: center;
  color: white;
  background-color: black;
}

nav a{
  color: white;
  text-decoration: none;
}
/* MAIN ========================================= */

main{
  flex: 1;
  text-align: center;
}

main .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px auto;
}


/* FOOTER ========================================= */

footer{
  background-color: gold;
  text-align: center;
  color: white;
  background-color: black;
}

/* =================================== ESTILOS DE ELEMENTOS EXTRA =================================== */

/* BLOCK =================== */

.block{
  background-color: rgb(232, 232, 232);
  width: 100%;
  border-radius: 15px;
  margin-bottom: 25px;
  padding: 15px 0;
}

.block:nth-of-type(odd) {
  background-color: rgb(201, 201, 201);
}

.block h2{
  margin-top: 0;
}

/* TOAST =================== */

.toastContainer{
  position: absolute;
  right: 0;
  top: 0;
  width: 500px;
  max-width: 100%;

  margin-top: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 5px;
}

.toast{
  width: 90%;
  background-color: white;
  min-height: 50px;
  border-radius: 15px;
  border: 2px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}